MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/eventstrand
JWT_SECRET=replace_with_64_char_random_string
GOOGLE_CLIENT_ID=60712789422-evmj4kjuc0joij1khsnpl2tamu4cv5kh.apps.googleusercontent.com
FRONTEND_URL=https://eventstrand.com
PORT=3000
